body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#5d1d91, #f0b3ff);
    overflow: hidden;
}

.menu-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 73px;
    background-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-bar .title {
    display: flex;
    align-items: center;
    margin-left: 20px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
}

.menu-bar .title:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.menu-bar .title img {
    width: 64px;
    height: 64px;
}

.menu-bar .title h1 {
    font-size: 1.5rem;
    color: white;
    margin-left: 5px;
}

.menu-bar .button-list {
    display: flex;
    justify-self: right;
    align-items: right;
    margin-left: auto;
    margin-right: 20px;
}

.menu-bar .button-list button p {
    margin-left: 7px;
}

.menu-bar .button-list #about-button {
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.3rem;  
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px 5px 0 0;
    margin-left: 10px;
    padding: 0 10px;
    height: 100%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.267);
}

.menu-bar .button-list #about-button:hover {
    background: #00000023;
}

.main {
    background: transparent;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 30px;
}

.main .title {
    display: flex;
    align-items: center;
}

.main img {
    width: 110px;
    height: 110px;
}

.main h1 {
    font-size: 2.5rem;
    color: #ececec;
}

.about {
    color: white;
}

@media screen and (max-width: 1043px) {
    .about {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 927px) {
    .main img {
        width: 90px;
        height: 90px;
    }

    .main h1 {
        font-size: 2rem;
        color: #ececec;
    }
    .about {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 834px) {
    .main img {
        width: 80px;
        height: 80px;
    }

    .main h1 {
        font-size: 1.8rem;
        color: #ececec;
    }
    .about {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 457px) {
    .menu-bar .title img {
        width: 54px;
        height: 54px;
    }

    .menu-bar .title h1 {
        font-size: 1.3rem;
        color: white;
        margin-left: 5px;
    }
}