* {
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#5d1d91, #f0b3ff);
    overflow: hidden;
}

.menu-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 73px;
    background-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-bar .title {
    display: flex;
    align-items: center;
    margin-left: 20px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
}

.menu-bar .title:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.menu-bar .title img {
    width: 64px;
    height: 64px;
}

.menu-bar .title h1 {
    font-size: 1.5rem;
    color: white;
    margin-left: 5px;
}

.menu-bar .button-list {
    display: flex;
    justify-self: right;
    align-items: right;
    margin-left: auto;
    margin-right: 20px;
}

.menu-bar .button-list button p {
    margin-left: 7px;
}

.menu-bar .button-list .menu-button {
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.3rem;  
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0 10px;
    height: 100%;
}

.menu-bar .button-list .menu-button:hover {
    background: #00000023;
}

.main {
    background: transparent;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 30px;
}

.main .title {
    display: flex;
    align-items: center;
}

.main img {
    width: 110px;
    height: 110px;
}

.main h1 {
    font-size: 2.5rem;
    color: #ececec;
}

.main .search-input {
    margin-top: 30px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-self: start;
}

.main .search-input span {
    user-select: none;
    font-size: 1.9rem;
}

.main .search-input .clear-button {
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

.main .search-input .clear-button.show {
    display: block;
}

.main .search-input .clear-button:hover {
    color: #969696;
}

.main .search-input input {
    width: 90%;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.main .search-input input::placeholder {
    color: #ccc;
}

.main .search-list {
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.main .search-list.show {
    display: block;
    transition: all 1s ease;
}

.main .search-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 10px 10px 0;
}

.main .search-list::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 10px;
}

.main .search-list::-webkit-scrollbar {
    width: 10px;
}

.main .search-list li {
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .search-list li:hover {
    background: #d6d6d6;
}

@media screen and (max-width: 640px) {
    .menu-bar .button-list .menu-button p {
        display: none;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 525px) {
    .main img {
        width: 90px;
        height: 90px;
    }

    .main h1 {
        font-size: 2rem;
        color: #ececec;
    }
}

@media screen and (max-width: 457px) {
    .menu-bar .title img {
        width: 54px;
        height: 54px;
    }

    .menu-bar .title h1 {
        font-size: 1.3rem;
        color: white;
        margin-left: 5px;
    }
}

@media screen and (max-width: 431px) {
    .menu-bar .title img {
        width: 44px;
        height: 44px;
    }

    .menu-bar .title h1 {
        font-size: 1rem;
        color: white;
        margin-left: 5px;
    }
    .main img {
        width: 64px;
        height: 64px;
    }

    .main h1 {
        font-size: 1.3rem;
        color: #ececec;
    }

    .main .search-input input {
        font-size: 1.3rem;
    }

    .main .search-input span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 385px) {
    .menu-bar .title h1 {
        display: none;
        transition: all 0.3s ease;
    }
}

@media screen and (max-height:303px) {
    .main img {
        width: 55px;
        height: 55px;
    }

    .main h1 {
        font-size: 1.2rem;
        color: #ececec;
    }

    .main .search-input {
        margin-top: 15px;
    }

    .main .search-input input {
        font-size: 1rem;
    }

    .main .search-input span {
        font-size: 1.2rem;
    }
}